/* ver 1.0.3 */
/**
* 컴포넌트 공통
*/

.jetcraft-comp {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.jetcraft-comp.e-con,
.jetcraft-comp .e-con {
    --container-default-padding-top: 0;
    --container-default-padding-bottom: 0;
    --container-default-padding-right: 0;
    --container-default-padding-left: 0;
    --gap: var(--widgets-spacing, 0);
    --row-gap: var(--widgets-spacing-row, 0);
    --column-gap: var(--widgets-spacing-column, 0);
}

.jetcraft-comp [class*=" eicon-"],
.jetcraft-comp [class^=eicon] {
    display: inline-block;
    font-family: eicons, serif;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
}

/*
.jetcraft-comp a:link,
.jetcraft-comp a:hover,
.jetcraft-comp a:visited,
.jetcraft-comp a:active {
	color: var(--jetcraft-primary);
}
*/

.jetcraft-comp p {
    margin: 0;
    padding: 0;
}

.jetcraft-comp b,
.jetcraft-comp strong {
    font-weight: 600;
}

:where(.jetcraft-comp) :where(
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea
) {
    width: 100%;
    height: initial;
    border: initial;
    background-color: transparent;
    border-radius: initial;
    padding: initial;
    transition: initial;
    box-shadow: initial;
}
.jetcraft-comp input[type=date]:focus,
.jetcraft-comp input[type=email]:focus,
.jetcraft-comp input[type=number]:focus,
.jetcraft-comp input[type=password]:focus,
.jetcraft-comp input[type=search]:focus,
.jetcraft-comp input[type=tel]:focus,
.jetcraft-comp input[type=text]:focus,
.jetcraft-comp input[type=url]:focus,
.jetcraft-comp select:focus,
.jetcraft-comp textarea:focus {
    border-color: initial;
}

.jetcraft-comp input[type="radio"]:checked,
.jetcraft-comp input[type=reset],
.jetcraft-comp input[type="checkbox"]:checked,
.jetcraft-comp input[type="checkbox"]:hover:checked,
.jetcraft-comp input[type="checkbox"]:focus:checked,
.jetcraft-comp input[type=range]::-webkit-slider-thumb {
    border-color: var(--jetcraft-secondary);
    background-color: var(--jetcraft-accent);
}

.jetcraft-comp svg {
    fill: currentColor;
}

/**
* Jetcraft 컬러
*/

[data-jetcraft-theme='dark'] .jetcraft-color-default,
[data-jetcraft-theme='dark'] .jetcraft-color-violet,
[data-jetcraft-theme='dark'] .jetcraft-color-blue,
[data-jetcraft-theme='dark'] .jetcraft-color-purple,
[data-jetcraft-theme='dark'] .jetcraft-color-olive,
[data-jetcraft-theme='dark'] .jetcraft-color-orange,
[data-jetcraft-theme='dark'] .jetcraft-color-magenta,
[data-jetcraft-theme='dark'] .jetcraft-color-dark {
    --e-global-color-primary: inherit;
    --e-global-color-secondary: inherit;
    --e-global-color-text: inherit;
    --e-global-color-accent: inherit;
}

/* Default */
.jetcraft-color-default {
    --e-global-color-primary: #0d0c22;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #f5f7f7;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 13, 12, 34;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Violet */
.jetcraft-color-violet {
    --e-global-color-primary: #6366f1;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #6366f11a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 99, 102, 241;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Blue */
.jetcraft-color-blue {
    --e-global-color-primary: #3b82f6;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #3b82f61a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 59, 130, 246;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Purple */
.jetcraft-color-purple {
    --e-global-color-primary: #8b5cf6;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #8b5cf61a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 139, 92, 246;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Olive */
.jetcraft-color-olive {
    --e-global-color-primary: #759d38;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #759d381a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 117, 157, 56;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Orange */
.jetcraft-color-orange {
    --e-global-color-primary: #ff5000;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #ea64d91a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 255, 80, 0;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Magenta */
.jetcraft-color-magenta {
    --e-global-color-primary: #d946ef;
    --e-global-color-secondary: #e7e7e9;
    --e-global-color-text: #0d0c22;
    --e-global-color-accent: #d946ef1a;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-primary-rgb: 217, 70, 239;
    --jetcraft-secondary-rgb: 0, 0, 0;
    --jetcraft-text-rgb: 13, 12, 34;
}

/* Dark */
.jetcraft-color-dark {
    --e-global-color-primary: #9966ff;
    --e-global-color-secondary: #3f3f46;
    --e-global-color-text: #ffffff;
    --e-global-color-accent: #ffffff0d;

    --jetcraft-primary: var(--e-global-color-primary);
    --jetcraft-secondary: var(--e-global-color-secondary);
    --jetcraft-text: var(--e-global-color-text);
    --jetcraft-accent: var(--e-global-color-accent);

    --jetcraft-custom-bg: #18181b;
    --jetcraft-custom-text: #d1d1d6;
    --jetcraft-custom-strong: #fcfcfc;

    --jetcraft-primary-rgb: 153, 102, 255;
    --jetcraft-secondary-rgb: 255, 255, 255;
    --jetcraft-text-rgb: 255, 255, 255;

    background-color: var(--jetcraft-custom-bg);
    color: var(--jetcraft-custom-text);
}
.jetcraft-color-dark a {
    color: var(--jetcraft-text);
}
.jetcraft-color-dark a:hover {
    color: var(--jetcraft-primary);
}
:where(.jetcraft-color-dark) :where(input) {
    color: var(--jetcraft-custom-text);
}
:where(.jetcraft-color-dark) :where(h1, h2, h3, h4, h5, h6, input) {
    color: var(--jetcraft-custom-strong) !important;
}

:where(.jetcraft-no-radius.jetcraft-comp, .jetcraft-no-radius .jetcraft-comp) :where(
.elementor-widget-container,
.elementor-widget-button .elementor-button
) {
    border-radius: 0 !important;
}


/**
* 템플릿 유틸리티
*/

/* 엘레멘터 필수 위젯 초기화 */
.jetcraft-comp .elementor-widget-icon .elementor-icon-wrapper {
    line-height: 0;
}
.jetcraft-comp .elementor-widget-icon .elementor-icon svg {
    fill: currentColor;
}

/* 엘레멘터 편집화면 불필요 여백 제거 */
.elementor-edit-area-active .elementor-inline-editing {
    min-height: 0;
}

/* HTML 위젯 감춤 */
.jetcraft-settings {
    display:none;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Section 템플릿에서 타이틀 헤더 감춤(리더기 제외) */
.elementor-editor-active .page-header {
    display: none;
    width: 0;
    height: 0;
}


/**
* 미리보기 유틸리티
*/

.jetcraft-divider {
    z-index: 0 !important;
}
.jetcraft-divider .elementor-divider {
    margin: 0 !important;
    padding: 0 !important;
    height: 16px;
}

.jetcraft-controller {
    margin-bottom: -17px !important;
}
.jet-preview-stage .jetcraft-controller,
.jetcraft-controller .elementor-element-overlay {
    display: none;
}

.jetcraft-comp .lil-gui.root {
    --background-color: var(--jetcraft-custom-bg, transparent);
    --border-radius: 8px;
    --border: 1px solid var(--jetcraft-secondary, #666);
}
.jetcraft-comp .lil-gui {
    font-weight: 500;
    color: var(--text-color);
    --text-color: var(--jetcraft-text, #666);
    --title-text-color: var(--jetcraft-text, #666);
    --widget-color: var(--jetcraft-accent, transparent);
    --hover-color: var(--jetcraft-primary, #666);
    --focus-color: var(--jetcraft-primary, #666);
    --number-color: #2cc9ff;
    --string-color: var(--jetcraft-text, #666);
    --font-size: 13px;
    --input-font-size: 11px;
    --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    --font-family-mono: Menlo, Monaco, Consolas, "Droid Sans Mono", monospace;
    --padding: 14px;
    --spacing: 14px;
    --widget-height: 30px;
    --title-height: calc(var(--widget-height) + var(--spacing) * 1.25);
    --name-width: 30%;
    --widget-padding: 0 0 0 3px;
    --widget-border-radius: 4px;
}
.jetcraft-comp .lil-gui.root > .title {
    background: var(--jetcraft-accent, transparent);
    color: var(--title-text-color);
    border: var(--border);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.jetcraft-comp .lil-gui.root > .title[aria-expanded='false'] {
    border-radius: var(--border-radius);
}
body:not(.lil-gui-dragging) .lil-gui .title:hover {
    background: var(--jetcraft-accent, transparent);
    opacity: 1;
}
.jetcraft-comp .lil-gui.root > .children {
    padding-top: 3px;
    border: var(--border);
    border-top-width: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.jetcraft-comp .lil-gui .controller.option .display {
    border: var(--border);
}
.jetcraft-comp .lil-gui .controller.option .display.focus {
    color: #fff;
}
.jetcraft-comp .lil-gui label,
.jetcraft-comp .lil-gui legend {
    color: var(--text-color);
}
.jetcraft-comp .lil-gui .controller.string input {
    color: var(--string-color);
    height: var(--widget-height);
    padding: 0 8px;
    border-radius: var(--widget-border-radius);
    border: 0;
    background-color: transparent;
    font-size: var(--input-font-size);
}
.jetcraft-comp .lil-gui input[type=text]:focus, .lil-gui input[type=number]:focus {
    background: var(--jetcraft-primary, transparent);
    color: #fff;
}
.jetcraft-comp .lil-gui .controller.option .widget:hover .display,
.jetcraft-comp .lil-gui input:hover,
.jetcraft-comp .lil-gui .controller.string input:hover {
    color: #fff;
}
.jetcraft-comp .lil-gui input[type=checkbox],
.jetcraft-comp .lil-gui input[type=checkbox]:focus {
    box-shadow: inset 0 0 0 1px var(--jetcraft-secondary, #666);
}
.jetcraft-comp .lil-gui input[type=checkbox]:hover {
    color: var(--jetcraft-primary, #0d0c22);
}

.jetcraft-mock-browser {
    background-color: #e1e1e1;
    background-image:
            url('https://i.ibb.co/bQGGq7x/img-mock-browser-heaer-right.png'),
            url('https://i.ibb.co/M5y1zwT/img-mock-browser-heaer-left.png'),
            url('https://i.ibb.co/mF46xHR/img-mock-browser-heaer-bg.png');

    background-position: right top, left top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
}
.jetcraft-color-dark .jetcraft-mock-browser {
    filter: invert();
}

/* 그리드 - 배포용 */
.jetcraft-testing-grid {
    visibility: hidden;
}
.jetcraft-testing-grid,
.jetcraft-testing-grid .grid-16,
.jetcraft-testing-grid .grid-128 {
    position: absolute;
    min-height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.jetcraft-testing-grid .grid-16 {
    background-image:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 9px, rgba(27, 31, 36, 0.1), rgba(255, 255, 255, 0) 10px),
            linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 9px, rgba(27, 31, 36, 0.1), rgba(255, 255, 255, 0) 10px);
    background-size: 16px 16px;
    background-position-x: calc(50% - 1px);
    background-position-y: -6px;
}
.jetcraft-testing-grid .grid-128 {
    background-image:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 12px, rgba(27, 31, 36, .08), rgba(255, 255, 255, 0) 13px),
            linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 12px, rgba(27, 31, 36, .08), rgba(255, 255, 255, 0) 13px);
    background-size: 128px 128px;
    background-position-x: calc(50% - 12px);
    background-position-y: 13px;
}
.jetcraft-testing-grid.on,
.jetcraft-testing-grid.on-live {
    visibility: visible;
}